# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
storage/

# Env
.env
.env.local
.env.*.local

# Apify
apify_storage/
.apify_storage/
apify_json/
.DS_Store

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store


